<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSL_Test__1.Properties.Settings.TorrentDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\TorrentDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>