<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSL_Test__1.SettingsFile" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CSL_Test__1.Properties.Settings.TorrentDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\TorrentDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <CSL_Test__1.SettingsFile>
            <setting name="ArtistFlip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteZipFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadAlbum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadEP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadRemix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadSingle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadSoundtrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadUnknown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadCompilation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadBootleg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadInterview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TorrentClient" serializeAs="String">
                <value>uTorrent.exe</value>
            </setting>
            <setting name="TorrentClientFolder" serializeAs="String">
                <value>C:\Program Files (x86)\utorrent</value>
            </setting>
            <setting name="TorrentSaveFolder" serializeAs="String">
                <value>C:\what.cd torrent files</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>C:\test</value>
            </setting>
            <setting name="CustomDirectory" serializeAs="String">
                <value>%a\%y - %t</value>
            </setting>
            <setting name="DownloadLive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadMixtape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UppercaseAllFolderNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LowercaseAllFolderNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatApplyAll" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoveDoubleSpaces" serializeAs="String">
                <value>True</value>
            </setting>
        </CSL_Test__1.SettingsFile>
    </userSettings>
</configuration>