<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSL_Test__1.SettingsFile" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CSL_Test__1.Properties.Settings.TorrentDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\TorrentDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="CSL_Test__1.Properties.Settings.CSLDataBaseConnectionString"
            connectionString="Data Source=|DataDirectory|\CSLDataBase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <CSL_Test__1.SettingsFile>
            <setting name="ArtistFlip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteZipFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TorrentClient" serializeAs="String">
                <value>uTorrent.exe</value>
            </setting>
            <setting name="TorrentClientFolder" serializeAs="String">
                <value>C:\Program Files\uTorrent</value>
            </setting>
            <setting name="TorrentSaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UppercaseAllFolderNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LowercaseAllFolderNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveDoubleSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackZipFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackTorrentFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadFormats" serializeAs="String">
                <value>%a\%y - %t</value>
            </setting>
            <setting name="ReleaseFormatNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Album:Album</string>
                        <string>EP:EP</string>
                        <string>Live:Live</string>
                        <string>Single:Single</string>
                        <string>Mixtape:Mixtape</string>
                        <string>Remix:Remix</string>
                        <string>Soundboard:Soundboard</string>
                        <string>Compilation:Compilation</string>
                        <string>Bootleg:Bootleg</string>
                        <string>Interview:Interview</string>
                        <string>Unknown:Unknown</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BitrateNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>VBR:V# (VBR)</string>
                        <string>CBR:### (CBR)</string>
                        <string>APX:APX (VBR)</string>
                        <string>APS:APS (VBR)</string>
                        <string>q8.x:q8.x(VBR)</string>
                        <string>Lossless:Lossless</string>
                        <string>24bitLossless:24bit Lossless</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipReleaseFormatCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessLoneTsAlbums" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteTheFolderNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="RawHandleTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>Seconds</value>
            </setting>
        </CSL_Test__1.SettingsFile>
    </userSettings>
</configuration>